* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: rgba(47, 153, 47, 0.533);
    height: 100vh;
}

h1 {
    color: #fff;
    
}

.todolist-container{
    background-color: #fff;
    max-width: 800px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    overflow-y: auto;
}

li {
    padding: 20px 10px;
    border-bottom: 1px solid gray;
    
}

